*{
	margin: 0;
	padding: 0;
}

body{
	background: url(../images/background.jpg);
}

h3{
    display: inline-block;
}

em{
    display: block;
}

.article{
	margin-top: 30px;
	background: white; 
	padding: 15px;
	border: 1px solid grey;
	border-radius: 5px;
	display: inline-block;
}

.article img{
	float: left;
	padding-right: 15px;
}

.mblog{
	display: inline-block;
	margin-top: 15px;
}

.mblog a{
	color: #35D699;
	text-shadow: #2F4F4F 1px 1px 0, #2F4F4F -1px -1px 0, 
                 #2F4F4F -1px 1px 0, #2F4F4F 1px -1px 0;
}	

.mblog a:hover{
	text-decoration: none;
	color: #298C66;
}

.article a{
	color: #778899;
	text-shadow: #2F4F4F 1px 1px 0, #2F4F4F -1px -1px 0, 
                 #2F4F4F -1px 1px 0, #2F4F4F 1px -1px 0;
}

.admin{
	margin-top: 30px;
   float: right;
}

footer{
   margin-bottom: 30px;
	color: #2F4F4F;
	margin-top: 30px;
	text-align: center;
}

.admin-table{
	width: 100%;
}

.textandphoto{
    display: inline-block;
    padding: 0px;
}

p{
    margin: 0px;
}


.right{
    float: right;
}